.sct-about {
    background-color: #346799;
}

.sct-about .sct-hdg-2 {
    color: #2B3453;
}

.sct-about hr {
    border-color: #2B3453;
}

.ctr-about {
    align-items: center;
}

.img-about {
    border-radius: 50%;
    border: #2B3453 solid 8px;
    filter: grayscale(1.5);
    height: 100%;
    width: auto;
}

.about-profile {
    padding: 32px 32px 32px 64px;
    font-size: 24px;
    justify-content: space-evenly;
}

.details {
    justify-content: space-evenly;
    align-items: center;
}

.details > table {
    text-align: left;
    border-collapse: collapse;
    font-size: 16px;
}

.details tr {
    border-bottom: #2B3453 3px solid;
}

#no-border-bottom {
    border-bottom: transparent 3px solid;
}

.details th {
    color: #2B3453;
    font-family: 'Space Mono', monospace;
}

.details td {
    padding-left: 40px;
    text-align: center;
}

.dev-icons {
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.material-icons {
    font-size: 64px;
}

.about-profile > p {
    line-height: 1.5;
    text-align: justify;
    margin-top: 40px;
}

.greeting {
    font-style: italic;
    font-size: 32px;
}