.sct-about {
    background-color: #346799;
    z-index: 1;
    box-shadow:
    0px -16px 1.5px rgba(0, 0, 0, 0.124),
    0px -16px 3.7px rgba(0, 0, 0, 0.178),
    0px -16px 7px rgba(0, 0, 0, 0.22),
    0px -16px 12.5px rgba(0, 0, 0, 0.262),
    0px -16px 23.4px rgba(0, 0, 0, 0.316),
    0px -16px 56px rgba(0, 0, 0, 0.44);
}

.sct-about .sct-hdg-2 {
    color: #261C2C;
}

.sct-about hr {
    border-color: #261C2C;
}

.ctr-about {
    align-items: center;
    margin-bottom: 160px;
}

.img-about {
    border-radius: 50%;
    border: #261C2C solid 8px;
    filter: grayscale(1.5);
    width: 30%;
    
}

.about-profile {
    padding: 32px 32px 32px 64px;
    font-size: 24px;
    justify-content: space-evenly;
}

.about-profile > p {
    line-height: 1.5;
    text-align: justify;
}

.greeting {
    font-style: italic;
    font-size: 32px;
}

.details {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.details > table {
    text-align: left;
    border-collapse: collapse;
    font-size: 16px;
}

.details tr {
    border-bottom: #261C2C 3px solid;
}

#no-border-bottom {
    border-bottom: transparent 3px solid;
}

.details th {
    color: #261C2C;
    font-family: 'Space Mono', monospace;
}

.details td {
    padding-left: 40px;
    text-align: center;
}

.dev-icons {
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.material-icons {
    font-size: 64px;
}
