.sct-about {
    background-color: #346799;
    z-index: 1;
    box-shadow:
    0px -16px 1.5px rgba(0, 0, 0, 0.124),
    0px -16px 3.7px rgba(0, 0, 0, 0.178),
    0px -16px 7px rgba(0, 0, 0, 0.22),
    0px -16px 12.5px rgba(0, 0, 0, 0.262),
    0px -16px 23.4px rgba(0, 0, 0, 0.316),
    0px -16px 56px rgba(0, 0, 0, 0.44);
}

.sct-about .sct-hdg-2 {
    color: #261C2C;
}

.sct-about hr {
    border-color: #261C2C;
}

.ctr-about {
    
}

.about-top {
    justify-content: space-evenly;
    align-items: flex-start;
    height: min-content;
}

.img-about {
    border-radius: 3rem;
    border: #261C2C solid .5rem;
    filter: grayscale(1.5);
    width: auto;
    height: 30rem;
}

.about-table {
    justify-content: space-evenly;
    flex-basis: 50%;
}

.about-table table {
    text-align: left;
    border-collapse: collapse;
    font-size: 4rem;
}

.about-table tr {
    border-bottom: #261C2C 3px solid;
}

#no-border-bottom {
    border-bottom: transparent 3px solid;
}

.about-table th {
    color: #261C2C;
    font-family: 'Space Mono', monospace;
}

.about-table td {
    padding-left: 3rem;
    text-align: right;
}

#skill-set-th {
    vertical-align: top;
}

.skill-set {
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.skill-set i {
    margin: 1rem 2rem 0 2rem; 
}

#last-skill {
    margin-right: 0;
}

.about-bottom {
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    font-size: 2rem;
}

.about-bottom > p {
    line-height: 1.5;
    text-align: justify;
}

.greeting {
    font-style: italic;
    font-size: 4rem;
}
