@import url(fonts.css);
@import url(sections.css);
@import url(about.css);
@import url(projects.css);

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 8px;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #082032;
    padding: 16px;
    display: flex;
    flex-flow: column wrap;
}

h1 {
    color: #595260;
    font-size: 64px;
    letter-spacing: .1em;
    padding: 8px 16px;
}

h2 {
    color: #B2B1B9;
    font-size: 32px;
    letter-spacing: .1em;
    padding: 16px 8px 40px 8px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

.fxc-row {
    display: flex;
    flex-flow: row wrap;
}

.fxc-col {
    display: flex;
    flex-flow: column wrap;
}

#nowrap {
    flex-wrap: nowrap;
}
