@import url(fonts.css);
@import url(sections.css);
@import url(about.css);
@import url(projects.css);

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; color: #2B3453;}


body {
    background-color: #082032;
    padding: 16px;
    display: flex;
    flex-flow: column wrap;
}

h1 {
    color: #595260;
    font-size: 64px;
    letter-spacing: .1em;
    padding: 8px 16px;
}

h2 {
    color: #B2B1B9;
    font-size: 32px;
    letter-spacing: .1em;
    padding: 16px 8px 40px 8px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

.fxc-row {
    display: flex;
    flex-flow: row nowrap;
}

.fxc-col {
    display: flex;
    flex-flow: column wrap;
}
